<!DOCTYPE >
<html>

<head>
  <title>Weeth</title>
  <link rel="icon" href="" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <script src="../js/script.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
</head>

<body>
  <div id="navBar" class="bar">
    <p style="margin-top: 1.75vh; font-size: 4.5vh;">{{name}}</p>
    <img id="back" onclick="goBack()" src="../img/back.png" />
    <a href="/home">
      <img id="homeButton" src="../img/homeButton.png" text-align="center" />
    </a>
  </div>

  {{#if activities}}
  <div id="timeline">
    {{#each activities}}
    <div class="event" onclick="window.location.href='/letter'">
      <div class="month">{{month}}</div>
      <div class="eventDot"></div>
      <div class="eventDate">{{date}}</div>
      <div class="eventCard">{{title}} at {{location}}</div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div>
    <h1 style="margin-top: 200px">You and {{name}} have no activities together yet...</h1>
  </div>
  {{/if}}

</body>
