<!doctype>
<html>

<head>
  {{> header}}

  <!-- Google Analytics -->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-159398674-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- End Google Analytics 

</head>

<body>

  <div id="navBar" class="bar">
    <p style="margin-top: 1.25vh; font-size: 4.5vh;">Friends</p>
    <!--        <img id="back" onclick="goBack()" src="../img/back.png">-->
  <a href="/home">
    <!--        <img id="homeButton" src="../img/homeButton.png" text-align="center" />-->
  </a>
  </div>

  <div id="botBar" class="bar fixed-nav-bar">
    {{#if viewB}}
    <img id="home" onclick="window.location.href='/homeB'" src="../img/home.png" style="filter: grayscale(100%);">
    <img id="noti" onclick="window.location.href='/notificationB'" src="../img/noti.png" style="filter: grayscale(100%);">
    <img id="friends" onclick="window.location.href='/friendsB'" src="../img/friends.png">
    <img class="createBtn" id="createEveB" onclick="window.location.href='/createB'" src="../img/createEventButton.png">
    {{else}}
    <img id="home" onclick="window.location.href='/home'" src="../img/home.png" style="filter: grayscale(100%);">
    <img id="noti" onclick="window.location.href='/notification'" src="../img/noti.png" style="filter: grayscale(100%);">
    <img id="friends" onclick="window.location.href='/friends'" src="../img/friends.png">
    <img class="createBtn" id="createEveA" onclick="window.location.href='/create'" src="../img/createA.png" style="filter: grayscale(100%);">
    {{/if}}
  </div>


  <br><br><br><br><br>

  <div class="addFriendDiv">
    <button id="addFriend" onclick="addFriendClick()">Add Friend</button>
    <br><br>
  </div>
  <p class="friendLabel" style="margin-left: 6vw;">Your Friends</p>

  {{#each possibleFriends}}
  <div class="hiddenFriend" style="display: none;" data-toggle="modal" data-target="#fakeAdd">
    <img class="friendPhoto" src="img/friendProfile.png">
    <a class="friendText">{{name}}</a>
    <a class="addFriendButton">
      <img class="addIcon" src="img/addFriendBefore.svg">
    </a>
  </div>
  {{/each}}

  <div class="modal fade" id="fakeAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Imagine you successfully added someone (adding friends is not
            our unique interaction, so we skip implementing this function due to the workload. Thank you.)</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="window.location.href='/friends'">Got it</button>
        </div>
      </div>
    </div>
  </div>

  {{#if viewB}}
  {{#each friends}}
  <div class="friendDiv" onclick="window.location.href = '/friendsB/{{name}}';">
    <img class="friendPhoto" src="{{imgURL}}">
    <a class="friendText">{{name}}</a>
    <img class="friendClickIcon" src="img/clickFriendIcon.png">
  </div>
  {{/each}}
  {{else}}
  {{#each friends}}
  <div class="friendDiv" onclick="window.location.href = '/friends/{{name}}';">
    <img class="friendPhoto" src="{{imgURL}}">
    <a class="friendText">{{name}}</a>
    <img class="friendClickIcon" src="img/clickFriendIcon.png">
  </div>
  {{/each}}
  {{/if}}
  </body>

</html>