<!doctype>

<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159398674-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-159398674-1', { 'optimize_id': 'GTM-KZDHDMT' });
    </script>

    {{> header}}

    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-159398674-1', 'auto');
        ga('require', 'GTM-KZDHDMT')
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</head>

<body>
    <div id="navBar" class="bar">
        <p style="margin-top: 1vh; font-size: 6vh; font-family: Varela Round; color: white; letter-spacing: -0.03em;">weeth</p>
        <img id="profileHome" onclick="window.location.href='/profile'" src="img/profilePlaceholder.png">
    </div>

    <div id="botBar" class="bar fixed-nav-bar">
        {{#if viewB}}
        <img id="home" onclick="window.location.href='/homeB'" src="../img/home.png">
        <img id="noti" onclick="window.location.href='/notificationB'" src="../img/noti.png" style="filter: grayscale(100%);">
        <img id="friends" onclick="window.location.href='/friendsB'" src="../img/friends.png" style="filter: grayscale(100%);">
        <img class="createBtn" id="createEveB" onclick="window.location.href='/createB'" src="../img/createEventButton.png">
        {{else}}
        <img id="home" onclick="window.location.href='/home'" src="../img/home.png">
        <img id="noti" onclick="window.location.href='/notification'" src="../img/noti.png" style="filter: grayscale(100%);">
        <img id="friends" onclick="window.location.href='/friends'" src="../img/friends.png" style="filter: grayscale(100%);">
        <img class="createBtn" id="createEveA" onclick="window.location.href='/create'" src="../img/createA.png" style="filter: grayscale(100%);">
        {{/if}}
    </div>

    {{#if events.length}}
    <div id="timeline" style="margin-bottom: 20vh;">
        {{#if viewB}}
        {{#each events}}
        <div class="event" onclick="window.location.href='/letterB/{{id}}'">
            <div class="month">{{month}}</div>
            <div class="eventDot"></div>
            <div class="eventDate">{{date}}</div>
            <div class="eventCard">{{title}} at {{location}}<br>weeth {{weeth}}</div>
        </div>
        {{/each}}
        {{else}}
        {{#each events}}
        <div class="event" onclick="window.location.href='/letter/{{id}}'">
            <div class="month">{{month}}</div>
            <div class="eventDot"></div>
            <div class="eventDate">{{date}}</div>
            <div class="eventCard">{{title}} at {{location}}<br>weeth {{weeth}}</div>
        </div>
        {{/each}}
        {{/if}}
    </div>
    {{else}}
    <h1 style="margin-top: 50%">There's no current event yet...</h1>
    {{/if}}
</body>

</html>


<script>

    $(document).ready(function () {
        initializePage();

        var temp = "";
        $('.month').each(function (i, obj) {
            if ($(this).html() == temp) {
                $(this).css("opacity", "0");
            }
            temp = $(this).html();
        });

    });


</script>