<!doctype>

<html>

<head>
   {{> header}}
</head>

<body>

    <div id="navBar" class="bar">
        <p style="margin-top: 1.75vh; font-size: 4.5vh;">Weeth Events</p>
        <img id="profileHome" onclick="window.location.href='/profile'" src="../img/profile.png">
    </div>

    <div id="botBar" class="bar fixed-nav-bar">
        {{#if viewB}}
        <img id="home" onclick="window.location.href='/homeB'" src="../img/home.png">
        <img id="noti" onclick="window.location.href='/notificationB'" src="../img/noti.png">
        <img id="friends" onclick="window.location.href='/friendsB'" src="../img/friends.png">
        <img id="createEveB" onclick="window.location.href='/createB'" src="../img/createEventButton.png">
        {{else}}
        <img id="home" onclick="window.location.href='/home'" src="../img/home.png">
        <img id="noti" onclick="window.location.href='/notification'" src="../img/noti.png">
        <img id="friends" onclick="window.location.href='/friends'" src="../img/friends.png">
        <img id="createEveA" onclick="window.location.href='/create'" src="../img/createA.png">
        {{/if}}
    </div>

    {{#if events.length}}
    <div id="timeline" style="margin-bottom: 20vh;">
        {{#if viewB}}
        {{#each events}}
        <div class="event" onclick="window.location.href='/letterB/{{id}}'">
            <div class="month">{{month}}</div>
            <div class="eventDot"></div>
            <div class="eventDate">{{date}}</div>
            <div class="eventCard">{{title}} at {{location}}<br>weeth {{weeth}}</div>
        </div>
        {{/each}}
        {{else}}
        {{#each events}}
        <div class="event" onclick="window.location.href='/letter/{{id}}'">
            <div class="month">{{month}}</div>
            <div class="eventDot"></div>
            <div class="eventDate">{{date}}</div>
            <div class="eventCard">{{title}} at {{location}}<br>weeth {{weeth}}</div>
        </div>
        {{/each}}
        {{/if}}
    </div>
    {{else}}
    <h1 style="margin-top: 50%">There's no current event yet...</h1>
    {{/if}}
</body>

</html>


<script>

    $(document).ready(function () {
        initializePage();

        var temp = "";
        $('.month').each(function (i, obj) {
            if ($(this).html() == temp) {
                $(this).css("opacity", "0");
            }
            temp = $(this).html();
        });

    });


</script>
